.logoimg {
    float: left;
}

.mockupsimg {
    height: 100%;
    width: 100%;
    margin: 150px;
    margin-bottom: -50px;
    float: center;
}

.usersimg {
    margin: 250px;
    position: relative;
    bottom: 0;
    left: -200px;
    background-size: cover;
    background-position: center;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 100000000;
    font-style: bold;
    text-align: center;
}

.firsttext {
    font-family: 'Open sans', sans-serif;
    font-style: 
}