.maroon {
    background-color: #ff0400;
    height: 97vh;
    /* width: 90vw; */
    margin: 0;
    overflow: hidden;
}
.mission {
    font-family: "Work Sans" sans-serif;
    font-size: 3.75rem;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 7.6875rem 1.25rem 10rem;
}